.section-hero {
  max-width: 1600px;
  padding: 200px 0;

  text-align: center;

  background-color: getColor('bgc-hero-section');
  background-image: linear-gradient($gradient-hero), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero--centered {
  margin-left: auto;
  margin-right: auto;
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: pre;

  color: getColor('primary-white-color');
}

.section-hero__title--indent {
  margin-bottom: 30px;
}
