.logo {
  @extend %logo;
}

.header__logo {
  @include indent($indent: 0 93px 0 0);
}

.logo__highlight {
  color: getColor('active-color');
}

.footer__logo {
  @extend %logo;
  @include indent($indent: 0 0 20px 0);
  display: inline-block;
  color: getColor('primary-white-color');
}
