.logo {
  @extend %logo;
}

.logo--indent {
  margin-right: 93px;
}

.logo__highlight {
  color: getColor('active-color');
}

.footer__logo {
  @extend %logo;

  display: inline-block;
  color: getColor('primary-white-color');
}

.footer__logo--indent {
  margin-bottom: 20px;
}
