.section-team {
  background: getColor('bgc-grayish');
  padding: 94px 0;
}

.section-team__container {
  @extend %container;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: getColor('dominant-text-color');
}

.team__text--indent {
  margin-bottom: 16px;
}

.team__description {
  padding: 30px 32px;
}

.team__item {
  text-align: center;

  border-radius: 0px 0px 4px 4px;
  box-shadow: getColor('card-shadow');

  background-color: getColor('primary-white-color');
}

.team__item--indent {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.team-list {
  @include centeredFlex();
}
