.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$portfolio-item-gap});
  margin-top: calc(-1 * #{$portfolio-item-gap});
}

.portfolio__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: $portfolio-item-gap;
  margin-top: $portfolio-item-gap;

  background-color: getColor('primary-white-color');
}
